@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.container {
    display: flex;
    width: 100%;
}
.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}
/* ---------- MAIN ---------- */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
<<<<<<< HEAD
    color: #003459;
=======
>>>>>>> db21042ccfa82447da16d047d7e4660ee8b53dfe
  }
  
  .main-cards {
    display: grid;
<<<<<<< HEAD
    grid-template-columns: 330px 330px 330px 330px;
    gap: 10px;
=======
    grid-template-columns: 300px 300px 300px 300px;
    gap: 20px;
>>>>>>> db21042ccfa82447da16d047d7e4660ee8b53dfe
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
  }
<<<<<<< HEAD
  .main-cards :hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
=======
  
>>>>>>> db21042ccfa82447da16d047d7e4660ee8b53dfe
  .card:first-child {
    background-color: #2962ff;
  }
  
  .card:nth-child(2) {
    background-color: #ff6d00;
  }
  
  .card:nth-child(3) {
    background-color: #2e7d32;
  }
  
  .card:nth-child(4) {
    background-color: #d50000;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .material-icons-outlined {
    font-size: 45px;
  }
  
  .charts {
<<<<<<< HEAD
    display: grid;
    grid-template-columns: 666px 666px;
    gap: 20px;
    margin-top: 10px;
    height: 100%;
    width: 100%;
=======
    size: 100px;
    display: grid;
    grid-template-columns: 650px 650px;
    gap: 20px;
    margin-top: 60px;
>>>>>>> db21042ccfa82447da16d047d7e4660ee8b53dfe
  }
  
  .charts-card {
    background-color: #003459;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* ---------- MEDIA QUERIES ---------- */
  
  /* Medium <= 992px */
  
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  
  /* Small <= 768px */
  
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }
  